/Desktop/
/Documents/
/Downloads/
/Pictures/

/.config/
/.bash*
/.X*
/.gimp*
/.byobu/


/.cache/
/.dir_colors
/.dmenurc
/.dmrc
/.esd_auth
/.gnome/
/.gtkrc-2.0
/.i3/
/.icons/
/.kite/
/.lesshst
/.local/
/.macromedia/
/.moonchild productions/
/.mozilla/
/.npm/
/.nv/
/.nvidia-settings-rc
/.pki/
/.profile
/.python_history
/.screenlayout/
/.ssh/
/.thumbnails/
/.unison/
/.vim/
/.w3m/
/.xinitrc
/.xpra/
/.xscreensaver
/.xsession-errors
/.xsession-errors.old
/.zshrc

